In [3]:
# 1. Load the dataset:

import pandas as pd
import numpy as np
from src.eda_borrower import BorrowerProfileEDA, run_borrower_eda_pipeline

In [4]:
df1 = pd.read_csv("https://raw.githubusercontent.com/RamiSaad93/ml-model-git-lab/refs/heads/master/data/loan_datasets/loan_df_1.csv")
df2 = pd.read_csv("https://raw.githubusercontent.com/RamiSaad93/ml-model-git-lab/refs/heads/master/data/loan_datasets/loan_df_2.csv")
df3 = pd.read_csv("https://raw.githubusercontent.com/RamiSaad93/ml-model-git-lab/refs/heads/master/data/loan_datasets/loan_df_3.csv")
df4 = pd.read_csv("https://raw.githubusercontent.com/RamiSaad93/ml-model-git-lab/refs/heads/master/data/loan_datasets/loan_df_4.csv")
df5 = pd.read_csv("https://raw.githubusercontent.com/RamiSaad93/ml-model-git-lab/refs/heads/master/data/loan_datasets/loan_df_5.csv")
df6 = pd.read_csv("https://raw.githubusercontent.com/RamiSaad93/ml-model-git-lab/refs/heads/master/data/loan_datasets/loan_df_6.csv")
df7 = pd.read_csv("https://raw.githubusercontent.com/RamiSaad93/ml-model-git-lab/refs/heads/master/data/loan_datasets/loan_df_7.csv")
df8 = pd.read_csv("https://raw.githubusercontent.com/RamiSaad93/ml-model-git-lab/refs/heads/master/data/loan_datasets/loan_df_8.csv")
df9 = pd.read_csv("https://raw.githubusercontent.com/RamiSaad93/ml-model-git-lab/refs/heads/master/data/loan_datasets/loan_df_9.csv")
df10 = pd.read_csv("https://raw.githubusercontent.com/RamiSaad93/ml-model-git-lab/refs/heads/master/data/loan_datasets/loan_df_10.csv")
df11 = pd.read_csv("https://raw.githubusercontent.com/RamiSaad93/ml-model-git-lab/refs/heads/master/data/loan_datasets/loan_df_11.csv")

df = pd.concat([df1, df2, df3, df4, df5, df6, df7, df8, df9, df10, df11])

In [5]:
df

,Unnamed: 0,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,...,total_bal_il,il_util,open_rv_12m,open_rv_24m,max_bal_bc,all_util,total_rev_hi_lim,inq_fi,total_cu_tl,inq_last_12m
0,0,1077501,1296599,5000.0,5000.0,4975.0,36 months,10.65,162.87,B,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,1077430,1314167,2500.0,2500.0,2500.0,60 months,15.27,59.83,C,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,1077175,1313524,2400.0,2400.0,2400.0,36 months,15.96,84.33,C,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,1076863,1277178,10000.0,10000.0,10000.0,36 months,13.49,339.31,C,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,1075358,1311748,3000.0,3000.0,3000.0,60 months,12.69,67.79,B,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
80666,80666,7638157,9320139,12000.0,12000.0,12000.0,36 months,11.99,398.52,B,...,NaN,NaN,NaN,NaN,NaN,NaN,10600.0,NaN,NaN,NaN
80667,80667,7685568,9387661,10000.0,10000.0,10000.0,36 months,10.99,327.34,B,...,NaN,NaN,NaN,NaN,NaN,NaN,40400.0,NaN,NaN,NaN
80668,80668,7675953,9378044,20000.0,20000.0,20000.0,36 months,9.25,638.33,A,...,NaN,NaN,NaN,NaN,NaN,NaN,38100.0,NaN,NaN,NaN
80669,80669,7695937,9398064,24000.0,24000.0,24000.0,36 months,8.60,758.74,A,...,NaN,NaN,NaN,NaN,NaN,NaN,67900.0,NaN,NaN,NaN
80670,80670,7668455,9350424,8775.0,8775.0,8775.0,36 months,9.99,283.11,B,...,NaN,NaN,NaN,NaN,NaN,NaN,6100.0,NaN,NaN,NaN

In [ ]:
pip install git+https://github.com/username/repo.git

In [6]:
# 2. Instantiate the EDA class:

eda = BorrowerProfileEDA(df, target_col="loan_status")

In [7]:
# 3. Run the pipeline and inspect the results:

report = run_borrower_eda_pipeline(eda)

In [8]:
# 4. Display at least:

report["structure"]          # table of borrower column structure

In [9]:
report["income"]             # income stats

In [10]:
report["freqs"]              # categorical frequencies

In [11]:
report["default_by_home_ownership"]  # default rate by home_ownership

In [12]:
report["default_by_purpose"]         # default rate by purpose