In [1]:
import sys
import os

repo_root = r"C:\Users\ramya\OneDrive\Documents\new_bootcamp\Week 5\ml-model-git-lab"
sys.path.insert(0, repo_root)

In [3]:
import importlib
import src.eda_credit_history
importlib.reload(src.eda_credit_history)

In [4]:
import pandas as pd
import numpy as np
from src.eda_credit_history import CreditHistoryEDA, credit_history_report

In [6]:
print(src.eda_credit_history.__file__)

C:\Users\ramya\OneDrive\Documents\new_bootcamp\Week 5\ml-model-git-lab\src\eda_credit_history.py

In [7]:
df1 = pd.read_csv("https://raw.githubusercontent.com/RamiSaad93/ml-model-git-lab/refs/heads/master/data/loan_datasets/loan_df_1.csv")
df2 = pd.read_csv("https://raw.githubusercontent.com/RamiSaad93/ml-model-git-lab/refs/heads/master/data/loan_datasets/loan_df_2.csv")
df3 = pd.read_csv("https://raw.githubusercontent.com/RamiSaad93/ml-model-git-lab/refs/heads/master/data/loan_datasets/loan_df_3.csv")
df4 = pd.read_csv("https://raw.githubusercontent.com/RamiSaad93/ml-model-git-lab/refs/heads/master/data/loan_datasets/loan_df_4.csv")
df5 = pd.read_csv("https://raw.githubusercontent.com/RamiSaad93/ml-model-git-lab/refs/heads/master/data/loan_datasets/loan_df_5.csv")
df6 = pd.read_csv("https://raw.githubusercontent.com/RamiSaad93/ml-model-git-lab/refs/heads/master/data/loan_datasets/loan_df_6.csv")
df7 = pd.read_csv("https://raw.githubusercontent.com/RamiSaad93/ml-model-git-lab/refs/heads/master/data/loan_datasets/loan_df_7.csv")
df8 = pd.read_csv("https://raw.githubusercontent.com/RamiSaad93/ml-model-git-lab/refs/heads/master/data/loan_datasets/loan_df_8.csv")
df9 = pd.read_csv("https://raw.githubusercontent.com/RamiSaad93/ml-model-git-lab/refs/heads/master/data/loan_datasets/loan_df_9.csv")
df10 = pd.read_csv("https://raw.githubusercontent.com/RamiSaad93/ml-model-git-lab/refs/heads/master/data/loan_datasets/loan_df_10.csv")
df11 = pd.read_csv("https://raw.githubusercontent.com/RamiSaad93/ml-model-git-lab/refs/heads/master/data/loan_datasets/loan_df_11.csv")

df = pd.concat([df1, df2, df3, df4, df5, df6, df7, df8, df9, df10, df11])

C:\Users\ramya\AppData\Local\Temp\ipykernel_4720\3322719773.py:4: DtypeWarning: Columns (20) have mixed types. Specify dtype option on import or set low_memory=False.
  df4 = pd.read_csv("https://raw.githubusercontent.com/RamiSaad93/ml-model-git-lab/refs/heads/master/data/loan_datasets/loan_df_4.csv")
C:\Users\ramya\AppData\Local\Temp\ipykernel_4720\3322719773.py:5: DtypeWarning: Columns (20) have mixed types. Specify dtype option on import or set low_memory=False.
  df5 = pd.read_csv("https://raw.githubusercontent.com/RamiSaad93/ml-model-git-lab/refs/heads/master/data/loan_datasets/loan_df_5.csv")
C:\Users\ramya\AppData\Local\Temp\ipykernel_4720\3322719773.py:6: DtypeWarning: Columns (20,56) have mixed types. Specify dtype option on import or set low_memory=False.
  df6 = pd.read_csv("https://raw.githubusercontent.com/RamiSaad93/ml-model-git-lab/refs/heads/master/data/loan_datasets/loan_df_6.csv")
C:\Users\ramya\AppData\Local\Temp\ipykernel_4720\3322719773.py:7: DtypeWarning: Columns (20) have mixed types. Specify dtype option on import or set low_memory=False.
  df7 = pd.read_csv("https://raw.githubusercontent.com/RamiSaad93/ml-model-git-lab/refs/heads/master/data/loan_datasets/loan_df_7.csv")
C:\Users\ramya\AppData\Local\Temp\ipykernel_4720\3322719773.py:8: DtypeWarning: Columns (20,56) have mixed types. Specify dtype option on import or set low_memory=False.
  df8 = pd.read_csv("https://raw.githubusercontent.com/RamiSaad93/ml-model-git-lab/refs/heads/master/data/loan_datasets/loan_df_8.csv")
C:\Users\ramya\AppData\Local\Temp\ipykernel_4720\3322719773.py:9: DtypeWarning: Columns (20) have mixed types. Specify dtype option on import or set low_memory=False.
  df9 = pd.read_csv("https://raw.githubusercontent.com/RamiSaad93/ml-model-git-lab/refs/heads/master/data/loan_datasets/loan_df_9.csv")
C:\Users\ramya\AppData\Local\Temp\ipykernel_4720\3322719773.py:10: DtypeWarning: Columns (20) have mixed types. Specify dtype option on import or set low_memory=False.
  df10 = pd.read_csv("https://raw.githubusercontent.com/RamiSaad93/ml-model-git-lab/refs/heads/master/data/loan_datasets/loan_df_10.csv")
C:\Users\ramya\AppData\Local\Temp\ipykernel_4720\3322719773.py:11: DtypeWarning: Columns (20) have mixed types. Specify dtype option on import or set low_memory=False.
  df11 = pd.read_csv("https://raw.githubusercontent.com/RamiSaad93/ml-model-git-lab/refs/heads/master/data/loan_datasets/loan_df_11.csv")

In [9]:
df.loan_status.unique()

array(['Fully Paid', 'Charged Off', 'Current', 'Default',
       'Late (31-120 days)', 'In Grace Period', 'Late (16-30 days)',
       'Does not meet the credit policy. Status:Fully Paid',
       'Does not meet the credit policy. Status:Charged Off', 'Issued'],
      dtype=object)

In [10]:
default_statuses = ['Charged Off', 'Default', 'Does not meet the credit policy. Status:Charged Off']
df['loan_status'] = df['loan_status'].apply(lambda x: 1 if x in default_statuses else 0)

In [11]:
df

,Unnamed: 0,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,...,total_bal_il,il_util,open_rv_12m,open_rv_24m,max_bal_bc,all_util,total_rev_hi_lim,inq_fi,total_cu_tl,inq_last_12m
0,0,1077501,1296599,5000.0,5000.0,4975.0,36 months,10.65,162.87,B,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,1077430,1314167,2500.0,2500.0,2500.0,60 months,15.27,59.83,C,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,1077175,1313524,2400.0,2400.0,2400.0,36 months,15.96,84.33,C,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,1076863,1277178,10000.0,10000.0,10000.0,36 months,13.49,339.31,C,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,1075358,1311748,3000.0,3000.0,3000.0,60 months,12.69,67.79,B,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
80665,887374,36371250,39102635,10000.0,10000.0,10000.0,36 months,11.99,332.10,B,...,NaN,NaN,NaN,NaN,NaN,NaN,17100.0,NaN,NaN,NaN
80666,887375,36441262,39152692,24000.0,24000.0,24000.0,36 months,11.99,797.03,B,...,NaN,NaN,NaN,NaN,NaN,NaN,10200.0,NaN,NaN,NaN
80667,887376,36271333,38982739,13000.0,13000.0,13000.0,60 months,15.99,316.07,D,...,NaN,NaN,NaN,NaN,NaN,NaN,18000.0,NaN,NaN,NaN
80668,887377,36490806,39222577,12000.0,12000.0,12000.0,60 months,19.99,317.86,E,...,NaN,NaN,NaN,NaN,NaN,NaN,27000.0,NaN,NaN,NaN
80669,887378,36271262,38982659,20000.0,20000.0,20000.0,36 months,11.99,664.20,B,...,NaN,NaN,NaN,NaN,NaN,NaN,41700.0,NaN,NaN,NaN

In [12]:
# Instantiate the EDA class:

eda = CreditHistoryEDA(df, target_col="loan_status")

In [13]:
# Run the report:

report = credit_history_report(eda)

In [14]:
# Display at least:

report["structure_summary"] # structure of all credit-history columns

,column,dtype,n_missing,missing_pct,mean,std
0,dti,float64,0,0.000000,18.157039,17.190626
1,dti_joint,float64,886870,0.999426,18.310118,7.169233
2,delinq_2yrs,float64,29,0.000033,0.314442,0.862244
3,mths_since_last_delinq,float64,454312,0.511971,34.063798,21.884940
4,mths_since_last_record,float64,750326,0.845553,70.117903,28.127914
5,mths_since_last_major_derog,float64,665676,0.750160,44.104838,22.179841
6,open_acc,float64,29,0.000033,11.548469,5.317313
7,total_acc,float64,29,0.000033,25.268026,11.840561
8,pub_rec,float64,29,0.000033,0.195307,0.582091
9,acc_now_delinq,float64,29,0.000033,0.004991,0.077625
10,revol_bal,float64,0,0.000000,16920.787533,22426.791896
11,revol_util,float64,502,0.000566,55.067693,23.834344
12,total_rev_hi_lim,float64,70276,0.079195,32068.620045,37498.258326
13,tot_coll_amt,float64,70276,0.079195,225.702610,10311.367196
14,tot_cur_bal,float64,70276,0.079195,139458.189336,153749.966885
15,total_bal_il,float64,866007,0.975916,36552.811389,43103.833619
16,open_acc_6m,float64,866007,0.975916,1.109021,1.242675
17,open_il_6m,float64,866007,0.975916,2.928832,3.089987
18,open_il_12m,float64,866007,0.975916,0.761651,0.996035
19,open_il_24m,float64,866007,0.975916,1.674574,1.688725
20,mths_since_rcnt_il,float64,866569,0.976549,20.912686,27.209081
21,open_rv_12m,float64,866007,0.975916,1.389060,1.520129
22,open_rv_24m,float64,866007,0.975916,2.975482,2.631886
23,max_bal_bc,float64,866007,0.975916,5887.979740,5284.701239
24,all_util,float64,866007,0.975916,60.831939,20.013254
25,inq_last_6mths,float64,29,0.000033,0.694623,0.998448
26,inq_last_12m,float64,866007,0.975916,1.977307,2.874067
27,inq_fi,float64,866007,0.975916,0.943945,1.446872
28,collections_12_mths_ex_med,float64,145,0.000163,0.014380,0.134191

In [15]:
report["dti_buckets"] # default rate by DTI bucket

               dti  n_loans  default_rate
0  (-0.001, 10.62]   177693      0.047717
1    (10.62, 15.4]   177520      0.050180
2    (15.4, 19.97]   177323      0.055159
3   (19.97, 25.53]   177519      0.060529
4  (25.53, 9999.0]   177324      0.052531

In [16]:
report["revol_util_buckets"] # default rate by revol_util bucket

       revol_util  n_loans  default_rate
0  (-0.001, 33.3]   177564      0.040352
1    (33.3, 49.1]   178278      0.045816
2    (49.1, 62.8]   177072      0.052030
3    (62.8, 77.5]   176707      0.059369
4   (77.5, 892.3]   177256      0.068472

In [17]:
report["correlation_with_default"] # correlation of each credit feature with default

dti                            0.003050
dti_joint                           NaN
delinq_2yrs                   -0.010093
mths_since_last_delinq         0.000292
mths_since_last_record         0.044841
mths_since_last_major_derog   -0.013403
open_acc                      -0.022462
total_acc                     -0.021457
pub_rec                       -0.019849
acc_now_delinq                -0.003409
revol_bal                     -0.018287
revol_util                     0.042780
total_rev_hi_lim              -0.032632
tot_coll_amt                  -0.001924
tot_cur_bal                   -0.035278
total_bal_il                        NaN
open_acc_6m                         NaN
open_il_6m                          NaN
open_il_12m                         NaN
open_il_24m                         NaN
mths_since_rcnt_il                  NaN
open_rv_12m                         NaN
open_rv_24m                         NaN
max_bal_bc                          NaN
all_util                            NaN
inq_last_6mths                 0.081912
inq_last_12m                        NaN
inq_fi                              NaN
collections_12_mths_ex_med    -0.010992
dtype: float64