In [1]:
import sys
import os

repo_root = r"C:\Users\ramya\OneDrive\Documents\new_bootcamp\Week 5\ml-model-git-lab"
sys.path.insert(0, repo_root)

In [2]:
import importlib
import src.eda_borrower
importlib.reload(src.eda_borrower)

In [3]:
# 1. Load the dataset:

import pandas as pd
import numpy as np
from src.eda_borrower import BorrowerProfileEDA, run_borrower_eda_pipeline

In [4]:
print(src.eda_borrower.__file__)

C:\Users\ramya\OneDrive\Documents\new_bootcamp\Week 5\ml-model-git-lab\src\eda_borrower.py

In [5]:
df1 = pd.read_csv("https://raw.githubusercontent.com/RamiSaad93/ml-model-git-lab/refs/heads/master/data/loan_datasets/loan_df_1.csv")
df2 = pd.read_csv("https://raw.githubusercontent.com/RamiSaad93/ml-model-git-lab/refs/heads/master/data/loan_datasets/loan_df_2.csv")
df3 = pd.read_csv("https://raw.githubusercontent.com/RamiSaad93/ml-model-git-lab/refs/heads/master/data/loan_datasets/loan_df_3.csv")
df4 = pd.read_csv("https://raw.githubusercontent.com/RamiSaad93/ml-model-git-lab/refs/heads/master/data/loan_datasets/loan_df_4.csv")
df5 = pd.read_csv("https://raw.githubusercontent.com/RamiSaad93/ml-model-git-lab/refs/heads/master/data/loan_datasets/loan_df_5.csv")
df6 = pd.read_csv("https://raw.githubusercontent.com/RamiSaad93/ml-model-git-lab/refs/heads/master/data/loan_datasets/loan_df_6.csv")
df7 = pd.read_csv("https://raw.githubusercontent.com/RamiSaad93/ml-model-git-lab/refs/heads/master/data/loan_datasets/loan_df_7.csv")
df8 = pd.read_csv("https://raw.githubusercontent.com/RamiSaad93/ml-model-git-lab/refs/heads/master/data/loan_datasets/loan_df_8.csv")
df9 = pd.read_csv("https://raw.githubusercontent.com/RamiSaad93/ml-model-git-lab/refs/heads/master/data/loan_datasets/loan_df_9.csv")
df10 = pd.read_csv("https://raw.githubusercontent.com/RamiSaad93/ml-model-git-lab/refs/heads/master/data/loan_datasets/loan_df_10.csv")
df11 = pd.read_csv("https://raw.githubusercontent.com/RamiSaad93/ml-model-git-lab/refs/heads/master/data/loan_datasets/loan_df_11.csv")

df = pd.concat([df1, df2, df3, df4, df5, df6, df7, df8, df9, df10, df11])

C:\Users\ramya\AppData\Local\Temp\ipykernel_38544\3322719773.py:4: DtypeWarning: Columns (20) have mixed types. Specify dtype option on import or set low_memory=False.
  df4 = pd.read_csv("https://raw.githubusercontent.com/RamiSaad93/ml-model-git-lab/refs/heads/master/data/loan_datasets/loan_df_4.csv")
C:\Users\ramya\AppData\Local\Temp\ipykernel_38544\3322719773.py:5: DtypeWarning: Columns (20) have mixed types. Specify dtype option on import or set low_memory=False.
  df5 = pd.read_csv("https://raw.githubusercontent.com/RamiSaad93/ml-model-git-lab/refs/heads/master/data/loan_datasets/loan_df_5.csv")
C:\Users\ramya\AppData\Local\Temp\ipykernel_38544\3322719773.py:6: DtypeWarning: Columns (20,56) have mixed types. Specify dtype option on import or set low_memory=False.
  df6 = pd.read_csv("https://raw.githubusercontent.com/RamiSaad93/ml-model-git-lab/refs/heads/master/data/loan_datasets/loan_df_6.csv")
C:\Users\ramya\AppData\Local\Temp\ipykernel_38544\3322719773.py:7: DtypeWarning: Columns (20) have mixed types. Specify dtype option on import or set low_memory=False.
  df7 = pd.read_csv("https://raw.githubusercontent.com/RamiSaad93/ml-model-git-lab/refs/heads/master/data/loan_datasets/loan_df_7.csv")
C:\Users\ramya\AppData\Local\Temp\ipykernel_38544\3322719773.py:8: DtypeWarning: Columns (20,56) have mixed types. Specify dtype option on import or set low_memory=False.
  df8 = pd.read_csv("https://raw.githubusercontent.com/RamiSaad93/ml-model-git-lab/refs/heads/master/data/loan_datasets/loan_df_8.csv")
C:\Users\ramya\AppData\Local\Temp\ipykernel_38544\3322719773.py:9: DtypeWarning: Columns (20) have mixed types. Specify dtype option on import or set low_memory=False.
  df9 = pd.read_csv("https://raw.githubusercontent.com/RamiSaad93/ml-model-git-lab/refs/heads/master/data/loan_datasets/loan_df_9.csv")
C:\Users\ramya\AppData\Local\Temp\ipykernel_38544\3322719773.py:10: DtypeWarning: Columns (20) have mixed types. Specify dtype option on import or set low_memory=False.
  df10 = pd.read_csv("https://raw.githubusercontent.com/RamiSaad93/ml-model-git-lab/refs/heads/master/data/loan_datasets/loan_df_10.csv")
C:\Users\ramya\AppData\Local\Temp\ipykernel_38544\3322719773.py:11: DtypeWarning: Columns (20) have mixed types. Specify dtype option on import or set low_memory=False.
  df11 = pd.read_csv("https://raw.githubusercontent.com/RamiSaad93/ml-model-git-lab/refs/heads/master/data/loan_datasets/loan_df_11.csv")

In [6]:
df

,Unnamed: 0,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,...,total_bal_il,il_util,open_rv_12m,open_rv_24m,max_bal_bc,all_util,total_rev_hi_lim,inq_fi,total_cu_tl,inq_last_12m
0,0,1077501,1296599,5000.0,5000.0,4975.0,36 months,10.65,162.87,B,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,1077430,1314167,2500.0,2500.0,2500.0,60 months,15.27,59.83,C,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,1077175,1313524,2400.0,2400.0,2400.0,36 months,15.96,84.33,C,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,1076863,1277178,10000.0,10000.0,10000.0,36 months,13.49,339.31,C,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,1075358,1311748,3000.0,3000.0,3000.0,60 months,12.69,67.79,B,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
80665,887374,36371250,39102635,10000.0,10000.0,10000.0,36 months,11.99,332.10,B,...,NaN,NaN,NaN,NaN,NaN,NaN,17100.0,NaN,NaN,NaN
80666,887375,36441262,39152692,24000.0,24000.0,24000.0,36 months,11.99,797.03,B,...,NaN,NaN,NaN,NaN,NaN,NaN,10200.0,NaN,NaN,NaN
80667,887376,36271333,38982739,13000.0,13000.0,13000.0,60 months,15.99,316.07,D,...,NaN,NaN,NaN,NaN,NaN,NaN,18000.0,NaN,NaN,NaN
80668,887377,36490806,39222577,12000.0,12000.0,12000.0,60 months,19.99,317.86,E,...,NaN,NaN,NaN,NaN,NaN,NaN,27000.0,NaN,NaN,NaN
80669,887378,36271262,38982659,20000.0,20000.0,20000.0,36 months,11.99,664.20,B,...,NaN,NaN,NaN,NaN,NaN,NaN,41700.0,NaN,NaN,NaN

In [7]:
# df.loan_status.unique()

default_statuses = ['Charged Off', 'Default', 'Does not meet the credit policy. Status:Charged Off']

# Create numeric target
df['loan_status'] = df['loan_status'].apply(lambda x: 1 if x in default_statuses else 0)

In [8]:
# 2. Instantiate the EDA class:

eda = BorrowerProfileEDA(df, target_col="loan_status")

In [9]:
# 3. Run the pipeline and inspect the results:

report = run_borrower_eda_pipeline(eda)

In [10]:
# 4. Display at least:

report["structure"]          # table of borrower column structure

                       column    dtype  n_missing  missing_pct  n_unique
0                          id    int64          0     0.000000    887379
1                   member_id    int64          0     0.000000    887379
2                   emp_title   object      51462     0.057993    299271
3                  emp_length   object      44825     0.050514        11
4              home_ownership   object          0     0.000000         6
5                  annual_inc  float64          4     0.000005     49384
6            annual_inc_joint  float64     886868     0.999424       308
7         verification_status   object          0     0.000000         3
8   verification_status_joint   object     886868     0.999424         3
9                    zip_code   object          0     0.000000       935
10                 addr_state   object          0     0.000000        51
11                    purpose   object          0     0.000000        14
12                      title   object        152     0.000171     63144
13                       desc   object     761351     0.857977    124469
14                    issue_d   object          0     0.000000       103
15                 pymnt_plan   object          0     0.000000         2
16                policy_code  float64          0     0.000000         1
17                        url   object          0     0.000000    887379

In [11]:
report["income"]             # income stats

,count,mean,std,min,25%,50%,75%,max
annual_inc,887375.0,75027.587761,64698.300142,0.0,45000.0,65000.0,90000.0,9500000.0
annual_inc_joint,511.0,109981.011585,52730.379847,17950.0,76032.5,101771.0,132800.0,500000.0

In [12]:
report["freqs"]              # categorical frequencies

{'home_ownership': MORTGAGE    443557
 RENT        356117
 OWN          87470
 OTHER          182
 NONE            50
 ANY              3
 Name: home_ownership, dtype: int64,
 'addr_state': CA    129517
 NY     74086
 TX     71138
 FL     60935
 IL     35476
 NJ     33256
 PA     31393
 OH     29631
 GA     29085
 VA     26255
 Name: addr_state, dtype: int64,
 'purpose': debt_consolidation    524215
 credit_card           206182
 home_improvement       51829
 other                  42894
 major_purchase         17277
 small_business         10377
 car                     8863
 medical                 8540
 moving                  5414
 vacation                4736
 Name: purpose, dtype: int64}

In [13]:
report["default_by_home_ownership"]  # default rate by home_ownership

home_ownership
ANY         0.000000
MORTGAGE    0.046722
NONE        0.160000
OTHER       0.208791
OWN         0.047834
RENT        0.062547
Name: loan_status, dtype: float64

In [14]:
report["default_by_purpose"]         # default rate by purpose

purpose
car                   0.053142
credit_card           0.039421
debt_consolidation    0.054712
educational           0.208038
home_improvement      0.046055
house                 0.082007
major_purchase        0.052729
medical               0.070960
moving                0.083303
other                 0.072784
renewable_energy      0.095652
small_business        0.140889
vacation              0.059966
wedding               0.118449
Name: loan_status, dtype: float64